<div class="container" xmlns="http://www.w3.org/1999/html">

  <% if @records.count > 0 %>
  <div class="container">
    <h2>History</h2>
    <div class="table-responsive scroll_wrap_home">


      <table class="table">
        <tbody>
        <% @records.each do |record| %>
            <tr>
              <td>
                <a href=<%= record.artistprofile %> target="_blank">
                  <% if (record.artistimage == "") %>
                      <img class="img-responsive img-portfolio img-hover album-image pull-left" src="http://i61.tinypic.com/2mwdtsk.png" alt="">
                  <% else %>
                      <img class="img-responsive img-portfolio img-hover album-image pull-left" src=<%= record.artistimage %> alt="">
                  <% end %>
                </a>
              </td>
              <td ><%= record.search_string %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <% else %>
    No History To Display
  <% end %>

</div>
